---
ansible_user: ansible
ansible_password: password
ansible_port: 5986
ansible_connection: winrm
ansible_winrm_transport: credssp
ansible_winrm_server_cert_validation: ignore
tightvnc_password: hex:00,00,00,00,00,00,00,00
eset_key: "key: xxxx-xxxx-xxxx-xxxx-xxxx"
